html, body {
  height: 100%;
}
.spacer {
  height: calc(50% - 150px);
}
.snake-canvas {
  border: 1px solid #000000;
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.game-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.controlls-container {
  display: flex;
}

.left-container {
  flex-grow: 1;
}

.right-container {
  padding-top: 10px;
  flex-grow: 0;
}

.score-container {
  margin-top: 10px;
  font-weight: bold;
}

.snake-btn-on {
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 13px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #9ceb68;
  padding: 6px 15px 6px 15px;
  border: solid #1f628d 1px;
  text-decoration: none;
}

.snake-btn-off {
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 13px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #8b8b8b;
  padding: 6px 15px 6px 15px;
  border: solid #1f628d 1px;
  text-decoration: none;
}

.snake-btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}